Data/04 Transport/.ipynb_checkpoints/Untitled-checkpoint.ipynb
Data/06 Buildings/data_raw/深圳市_建筑-电子解译/深圳市_建筑-电子解译.shx
Data/06 Buildings/data_raw/深圳市_建筑-电子解译/深圳市_建筑-电子解译.shp
Data/06 Buildings/data_raw/深圳市_建筑-电子解译/深圳市_建筑-电子解译.sbx
Data/06 Buildings/data_raw/深圳市_建筑-电子解译/深圳市_建筑-电子解译.sbn
Data/06 Buildings/data_raw/深圳市_建筑-电子解译/深圳市_建筑-电子解译.prj
Data/06 Buildings/data_raw/深圳市_建筑-电子解译/深圳市_建筑-电子解译.dbf
Data/03 Boundary/data_raw/None/geoBoundaries-CHN-ADM3_simplified.geojson
Data/03 Boundary/data_raw/None/geoBoundaries-CHN-ADM2_simplified.geojson
Data/03 Boundary/data_raw/None/shenzhen_districts_raw.qmd
Data/03 Boundary/data_raw/None/shenzhen_districts_raw.geojson
Data/03 Boundary/data_raw/None/shenzhen_boundary.qmd
Data/03 Boundary/data_raw/None/shenzhen_boundary.geojson
Data/03 Boundary/data_raw/None/geoBoundaries-Shenzhen_2920000803532.json
Data/03 Boundary/data_raw/None/geoBoundaries-Shenzhen_2920000803532.csv
Data/无人机方案20260324.1.docx
*.dbf
*.pbf
Data/04 Transport/data_out/sz_drive.graphml
Data/04 Transport/data_out/sz_drive_edges.gpkg
Data/06 Buildings/data_out/sz_buildings.gpkg
Data/06 Buildings/data_raw/Shenzen_Buildings_General/Shenzen_Buildings_General.shp
Data/09 Population/data_raw/chn_ppp_2020_constrained_100m.tif
Data/10 OD & Ground Friction/data_out/sz_routes.gpkg
Data/10 OD & Ground Friction/data_out/sz_routes.gpkg
Data/10 OD & Ground Friction/data_out/sz_routes.gpkg
